<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Home - MedSight{% endblock %}

{% block content %}
<div class="content-container">
    <h1>Welcome to MedSight</h1>
    <p>MedSight is a powerful tool for analyzing medical images using advanced machine learning techniques. Upload your X-ray, MRI, or CT scans, and get instant insights.</p>

    <form action="/analyze/" method="post" enctype="multipart/form-data" class="upload-form">
        <div class="input-group">
            <input type="file" name="image" accept="image/*" required>
        </div>
        <button class="submit">
        <i class="fas fa-cloud-upload-alt"></i> Upload
    </button>
    </form>
</div>
{% endblock %}
